{% load static %}

<html lang="en">
<head>
    
    <title>Edilson Gañan Arenas</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body id="BODY">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

    <div class="container" id="contenedor">
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="#">
                    <img id="profile-pic" src="{% static 'images/perfil.jpg' %}" alt="">

                </div>
                <h5 id="profile-wrapper">¡Hola a todos! </h5>
                    <h5>Soy Edilson Gañan Arenas</h5>
            </div>
            <div class="col-md-8">
                <div class="card card-body" id="#">
                    <p >Soy estudiante de Ingenieria de Software del Politécnico Grancolombiano
                        convenio SENA, Tecnólogo en Análisis y Desarrollo de Sistemas de información; 
                        tengo 47 años, casado, 4 hijos y muchos deseos de aprender sobre el área de 
                        Desarrollo de software. 
                    </p>                  
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body" id="#">
                    <p>Acá va texto</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body" id="#">
                    <p>Acá va texto</p>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body" id="#">
                    <p>Acá va texto</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body" id="#">
                    <p>Acá va texto</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>